*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.homepage {
    background-color: 
        linear-gradient(180deg, #E5EFFF 0%, rgba(229, 239, 255, 0.262661) 83.7%, 
        rgba(229, 239, 255, 0) 100%);
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 45px;
    max-width: 380px;
}

.h2  {
display: flex;
justify-content: center;
font-size: 3px;
}

.upper_section {
    margin: auto;
    padding-right: 700px;
    display: flex;
    justify-content: center;
    

}
